-provide :title, '| About Us'

#about.stackPage  
  %ul.featured
    %li.defaultSlide
      #storySlide.slideContent  
        #about1Gallery
          /=image_tag "rails.png"
        #about1Copy
          %h2 The Westlake Pro Story
          %p= raw(@content.gen_info)
    %li.defaultSlide.noMobile
      .slideContent  
        =image_tag @content.ceo_img.url(:large), retina: true
        %h2 The Westlake Experience
        %p= raw(@content.ceo_letter)
    %li
      .slideContent
        %h2 Our Staff
        %p#staffCopy At Westlake Pro, you’ll encounter experienced and knowledgeable sales and technical service staff to get expert advice from the best in the audio business. Discuss your needs and get the right equipment at the best possible price - all in a calm, comfortable environment.
        #about3Bios
          = render partial: 'shared/employee', collection: @content.employees
      
  %nav.stackNav
    %ul.stackNavList
      %li= link_to "The Westlake Pro Story", "#title1"
      %li= link_to "The Westlake Experience", "#title2"
      %li= link_to "Our Staff", "#title3"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "fade",
          animationSpeed: 1500,
          directionalNav: false,
        });


        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
  
  :javascript
    $(window).ready(function (){
      var teamItem = $('#staffCopy');
      var teamTop = teamItem.offset().top;
      var teamHeight = teamItem.height();
      var teamDiff = teamTop + teamHeight + 10 + 'px';
      $('#about3Bios').css('top', teamDiff);
    });

    $(window).resize(function (){
      var teamItem = $('#staffCopy');
      var teamTop = teamItem.offset().top;
      var teamHeight = teamItem.height();
      var teamDiff = teamTop + teamHeight + 10 + 'px';
      $('#about3Bios').css('top', teamDiff);
    });

