#careersPage.stackPage  
  %ul.featured
    %li
      %h1 Careers
    %li
      .slideContent
        %h1 Current Openings 
        %ul.openings 
          =render partial: 'shared/career', collection: @content.careers
        .button.gradientBack#resumeButton= link_to "Submit A Resume", career_resume_path, remote: true
    %li.defaultSlide
      .slideContent  
        = image_tag "rails.png" 
        %h2 Benefits 
        %p Body blahblahblahblah 
    %li.defaultSlide
      .slideContent  
        = image_tag "rails.png"
        %h2 Life in Los Angeles
        %p Body blahblahblahblah 
    %li.defaultSlide
      .slideContent  
        = image_tag "rails.png"
        %h2 Company Culture
        %p Body blahblahblahblah 

  %nav.stackNav
    %ul.stackNavList
      %li= link_to "Company Culture", "#title1"
      %li= link_to "Life in Los Angeles", "#title2"
      %li= link_to "Benefits", "#title3"
      %li= link_to "Current Openings", "#title3"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "fade",
          animationSpeed: 1000,
          directionalNav: false,
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
