-provide :title, '| Careers'
#careersPage.stackPage  
  %ul.featured
    %li
      %h1 Careers
    %li
      .slideContent.noMobile
        %h1 Current Openings 
        %ul.openings 
          =render partial: 'shared/career', collection: @content.careers.limit(3)
        .button.gradientBack#resumeButton= link_to "Submit A Resume", career_resume_path, remote: true
      #mobileCareers.onlyMobile
        %h3 Visit our site from a desktop or laptop to view our current openings and submit a resume. 
    %li.defaultSlide2
      .slideContent  
        = image_tag @content.benefits_img.url(:large), retina: true
        .stackSlideCopy 
          %h2 Benefits 
          %p= @content.benefits
    %li.defaultSlide2
      .slideContent  
        = image_tag @content.la_life_img.url(:large), retina: true 
        .stackSlideCopy
          %h2 Life in Los Angeles
          %p= @content.la_life
    %li.defaultSlide2
      .slideContent  
        = image_tag @content.culture_img.url(:large), retina: true 
        .stackSlideCopy
          %h2 Company Culture
          %p= @content.company_culture

  %nav.stackNav
    %ul.stackNavList
      %li= link_to "Company Culture", "#title1"
      %li= link_to "Life in Los Angeles", "#title2"
      %li= link_to "Benefits", "#title3"
      %li= link_to "Current Openings", "#title3"

//=debug @stack

=content_for :scripts do
  :javascript
    if (window.matchMedia("(min-device-width: 768px)").matches) {

      $(function() {
        
        $('.featured').orbit({
          timer: false,
          fluid: '16x6',
          bulletThumbs: false,
          animation: "fade",
          animationSpeed: 1000,
          directionalNav: false,
          afterSlideChange: function (){
            var sSCopy = $('.defaultSlide2 .stackSlideCopy');
            var sSImg = $('.defaultSlide2 .slideContent > img');
            if (sSImg.length) {
              var footP = $('#mainFoot').offset().top;
              var copyP = $(sSImg).offset().top + sSImg.height() + $(sSCopy).height();

              if (footP < copyP ){
                  sSCopy.css({'position':'fixed','bottom':'40px'});
              }
              else{
                  sSCopy.css('position', 'static');
              }
            }
          }
        });

        $(document).on('keydown', function(e){
          var temp = e.originalEvent.keyCode; 
          if(temp == 38 || temp == 40) {
            if(temp == 40) {
              temp = 'orbit.next';
            } else {
              temp = 'orbit.prev'
            }
            $('.featured').trigger(temp);  
          }
        });


        var length = $('ul.stackNavList li').length - 1;  
        $('ul.stackNavList li a').on('click', function(e){
          var index = $(this).parent().index();
          index = (length-index) +1 ; 
          $(this).parent().addClass('current');
          $('.featured').trigger('orbit.stop').trigger('orbit.goto', [index]); 
        });
      });
    }
    else {
      console.log('too small for slider');
    }
