= link_to 'Store', '/store'
= link_to 'Products', '/line_card'
= link_to 'About', '/about'
= link_to 'What We Do', '/what_we_do'
= link_to 'Contact', '/contact'
= link_to 'Careers', '/careers'
%a{href:'#', id: 'avidLink'}
  =image_tag "avid-logo-small.png", :id => "avidLogo"
