= link_to 'About', about_path
= link_to 'Products', line_card_path
= link_to 'What We Do', what_we_do_path
= link_to 'Contact WP', contact_path
= link_to 'Careers', careers_path
= link_to 'Store', spree_path