!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  = stylesheet_link_tag "application"
  %link{:href => "http://fonts.googleapis.com/css?family=Roboto:900italic", :rel => "stylesheet", :type => "text/css"}
  = #javascript_include_tag "foundation/modernizr"
  = csrf_meta_tag

%body
  =render partial: 'layouts/header'

  #mainContent
    = yield
  =render partial: 'layouts/footer'

  #contactPage.reveal-modal.xlarge
    #cForm.eight.columns
      %h1 Contact Westlake Pro
      %p#cHours Our office is open from 9am to 6pm, Monday through Friday. Stop by or send us a message, we would love to hear from you.
      %p#errors Some errors prevented your submission. Please try again
      .form 
        =render partial: 'email_contacts/form'
      /
        %form#contactForm
          %input.input1{placeholder:'Your Name'}
          %input.input1{placeholder:'Your Email'}
          %textarea{placeholder:'Send Us a Message'}
          %input#contactSubmit{type:'submit', value:'Submit'}
    #cInfo.four.columns
      %h2 Office
      %p#cAddress 4101 Lankershim Blvd. <br/> North Hollywood, CA 91602
      %h2 Phone
      %p#cPhone (323) 845-1145
      %h2 Email
      %p
        %a{:href => "mailto:bowens@westlakepro.com"} bowens@westlakepro.com
      %h2 Social Media
      #cSocial
        %a.fb.socialIcon{href: "#"}
        %a.tw.socialIcon{href: "#"}
        %a.li.socialIcon{href: "#"}
    #modal.reveal-modal.large
      #modal-content
      %a.close-reveal-modal &#215;




  = javascript_include_tag "application"

  :javascript
    var jPM = $.jPanelMenu({
      menu: '#mainNav',
      trigger: '.mobileNavTrigger',
      openPosition: '50%',
      duration: 250
    });
    jPM.on();

  = if content_for?(:scripts) then yield :scripts end

:plain
  </html>
