!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }
    %title= "Westlake Pro #{yield (:title) if content_for?(:title)}"

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  = stylesheet_link_tag "application"
  %link{:href => "http://fonts.googleapis.com/css?family=Roboto:900italic|Permanent+Marker", :rel => "stylesheet", :type => "text/css"}
  = #javascript_include_tag "foundation/modernizr"
  = analytics_init if Rails.env.production? 
  = csrf_meta_tag

%body
  =render partial: 'layouts/header'

  #mainContent
    = yield
  =render partial: 'layouts/footer'
  #modal.reveal-modal.xlarge
    #modal-content
    %a.close-reveal-modal &#215;



  = javascript_include_tag "application"

  :javascript
    if (window.matchMedia("(max-device-width: 768px)").matches) {
      var jPM = $.jPanelMenu({
        menu: '#mainNav',
        trigger: '.mobileNavTrigger',
        openPosition: '50%',
        duration: 250
      });
      jPM.on();
    }
  

  :javascript
    function customScroll(pageContent){
      $(pageContent).each(function(){
        $(this).jScrollPane({
          showArrows: $(this).is('.arrow'),
          mouseWheelSpeed: 100,
          hijackInternalLinkgs: true
          });
        var api = $(this).data('jsp');
        var throttleTimeout;
        $(window).bind('resize', function() {
          // IE fires multiple resize events while you are dragging the browser window which
          // causes it to crash if you try to update the scrollpane on every one. So we need
          // to throttle it to fire a maximum of once every 50 milliseconds...
          if (!throttleTimeout) {
            throttleTimeout = setTimeout(
              function() {
                api.reinitialise();
                throttleTimeout = null;
              }, 
            50);
          }
        });
      })
    }
    if($('.staticContent').length > 0) {
      $(window).ready(function(){
        customScroll('.staticContent');
        });
    }
    if($('.slideContent').length > 0) {
      $(window).ready(customScroll('.slideContent'));
    } 

  = if content_for?(:scripts) then yield :scripts end

:plain
  </html>
